<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMP 7404 Group P</title>
</head>
<body>
    <form id="form">
        <table id="table">
            <tr>
                <th>Number</th>
                <th>Object 1</th>
                <th>Relationship</th>
                <th>Object 2</th>
            </tr>
            <tr id="rows">
                <td>
                    <label id="Document ID">1</label>
                </td>
                <td>
                    <input type="text" name="obj1-1"/>
                </td>
                <td>
                    <select name="rel-1">
                        <option value="on">on</option>
                        <option value="in">in</option>
                        <option value="by">by</option>
                        <option value="below">below</option>
                        <option value="above">above</option>
                        <option value="next to">next to</option>
                        <option value="in front of">in front of</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="obj2-1"/>
                </td>
            </tr>
        </table>
    </form>

    <button type="button" onclick="addRow()">Add Row</button>
    <button onclick="submitForm()">Submit</button>

    <div id="result" >
    </div>
    <div id="description">
        <p>
            Temporarily Left Blank.
        </p>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.css') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addRows.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit.js') }}"></script>

</body>
</html>